/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* General styles */
body{
    background-color: #1a1b26;
    font-family: 'Poppins', sans-serif;
}
/* General styles end */

.button{
    text-decoration: none;
    font-size: 25px;
    color: #1fe8b6;
    padding: 20px 50px;
    border: 3px solid #1fe8b6;
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button::before,
.button::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border: inherit;
    transition: all .5s ease-in;
}

.button::before{
    top: -15px;
    left: -15px;
    border-width: 3px 0 0 3px;
}

.button::after{
    bottom: -15px;
    right: -15px;
    border-width: 0 3px 3px 0;
}

.button:hover::before,
.button:hover::after{
    width: calc(100% + 27px);
    height: calc(100% + 27px);
}